@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    @apply font-sans  text-3xl font-normal lg:text-5xl;
  }
  .h2 {
    @apply font-sans text-3xl font-normal;
  }
  .h3 {
    @apply font-sans text-2xl font-normal;
  }
  .h4 {
    @apply font-sans text-xl font-normal;
  }
  .h5 {
    @apply font-sans text-base font-normal;
  }
  .h6 {
    @apply font-sans text-sm font-normal;
  }
  .body5 {
    @apply font-sans text-base font-medium;
  }
  .body6 {
    @apply font-sans text-sm font-medium;
  }
  .small {
    @apply font-sans text-xs font-normal;
  }
  .p {
    @apply font-sans text-base font-normal;
  }
  .blockquote {
    @apply font-sans text-base font-normal italic;
  }
  .subtle {
    @apply font-sans text-sm font-normal text-[#64748B];
  }
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
